
body {
    background-color: rgb(70, 142, 236); /*Cor do fundo*/
    font: normal 16px Arial; /*Tipo e tamanho da fonte*/
}

header { /*Cabeçalhio*/
     color: white; /*Cor de fundo*/
     text-align: center ; /* Texto centralizado*/
}

section { /*Seção*/
    background-color: white; /*Cor do fundo*/
    border-radius: 10px; /*Arrendar bordas*/
    padding: 15px; /*Margens interna*/
    width: 38.7%; /*Largura da caixa (eu coloquei em "%" para se ajustar ao tamanho da tela conforme ela se mudar*/
    margin: auto; /*Margens externas centralizadas/automatica*/
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 363); /*Sombra (bem discreta)*/
}

footer { /*Roda pé*/
    color: white; /*Cor da fonte*/
    text-align: center ; /*Texto centralizado*/
    font-style: italic; /*Estilo da fonte*/
}